/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 2 Mar 2022, 19:35:35
    Author     : manzilshakya
*/

/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : 21 Feb 2022, 18:01:18
    Author     : manzilshakya
*/



*
{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    color: black;
}
.container
{
    padding-left: 5%;
    padding-right: 5%;
}
.container1
{
    padding-left: 10%;
    padding-right: 10%;
}
#fpage
{
    height: auto;
}
.header
{
    //background-color: rgb(rgb(255, 255, 255));
    width: 100%;
    height: 80px;
}
#myHeader
{
    background-color: white;
    position: fixed;
    top: 0%;
    height: 80px;
    width: 100%;
}
.logo img
{
    float: left;
    height: 70px;
    width: auto;
    padding-left: 1%;
    padding-top: 0.5%;
}
.list ul li
{
    float: right;
    display: inline-block;
    list-style: none;
    margin-right: 30px;
    margin-top: 25px;
    font-size: 25px;
}
.list ul li a
{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.list ul li a:hover
{
    //color: #4087d8;
    //font-size: 28px;
    //padding: 2px;
    //text-shadow: 4px 4px 5px grey;
    box-shadow: 5px 5px 4px #4087d8;
    //color: rgb(41, 145, 41);
    //color: #6AA121;
    //text-shadow: 8px 8px 4px grey;
        transform: translateY(-3px);
        //background-color: lavender;
}

.word img
{
    top: 80px;
    width: 100%;
    height: 610px;
    position: relative;
    padding: 0%;
    margin: 0%;
}
.word p
{
    position: absolute;
    color: lavender;
    font-size: 40px;
    top: 45%;  
}

.logi a
{
    /*z-index: 1;
    color: red;
    background-color: green;*/
    position: absolute;
    color:black;
    font-size: 40px;
    background-color: white;
    top: 45%;
    left: 12%;
    padding-right: 4.5%;
    padding-left: 4.5%;
    text-decoration: none;
    border: 2px solid black;
}
.logi a:hover
{
    color: white;
    background-color: #5c95d7;
    //background-color: rgb(41, 145, 41);
}
.reg a
{
    /*z-index: 1;
    color: red;
    background-color: green;*/
    position: absolute;
    color:black;
    font-size: 40px;
    background-color: white;
    top: 55%;
    left: 12%;
    padding-right: 2.5%;
    padding-left: 2.5%;
    text-decoration: none;
    border: 2px solid black;
}
.reg a:hover
{
    color: white;
    background-color: #5c95d7;
    //background-color: rgb(41, 145, 41);
}

.container p a
{
    padding-left: 50%;
    text-decoration: none;
    color:white;
}
.box
{
    background-color: rgb(0, 0, 0);
    opacity: 30%;
    height: 610px;
    width: 40%;   
    position: absolute;
    top: 80px;
}


/*
.fbody img
{
    top: 80px;
    width: 1300px;
    height: 620px;
    position: relative;
    padding: 0%;
    margin: 0%;
}*/
.container1 h2
{
    position: absolute;
    padding-left: 10%;
    padding-right: 10%;
    top: 110%;

}
.blist ul li
{
    list-style: none;
}

.pic2 img
{
    
    opacity: 0.5;
    height: 750px;
    width: 100%;
    margin-top: 3.5%;
    position: relative;
    
}
/*
    .body
        {
            margin-bottom: 70%;
        }*/
    .mbody
        {
            position:absolute;
            top: 110%;
            float: left;
            /*width: 85%;*/
           /* height: 80%;*/
        }
    .mbody h2
    {
        text-align: center;
        font-size: 30px;
    }
    .body1
        {
            float: left;
            margin-left: 7%;
            margin-top: 4%;   
            transition:  0.4s;       
        }
    .body1:hover
    {
        box-shadow: 12px 12px 10px grey;
        transform: translateY(-5px);
        background-color: lavender;

    }       
    .body1 img
        {
            height: 200px;
            width: 300px;
        }
    .body1 p
        {
            font-size: 20px;
            color: black;
            text-align: center;
        }

        .body2
        {
            float: left;
            margin-left: 5%;
            margin-top: 4%;   
            transition:  0.4s;       
        }
    .body2:hover
    {
        box-shadow: 12px 12px 10px grey;
        transform: translateY(-5px);
        background-color: lavender;
    }       
    .body2 img
        {
            height: 200px;
            width: 220px;
        }
    .body2 p
        {
            font-size: 20px;
            color: black;
            text-align: center;
        }    
    .blist ul li
        {
            list-style: none;
            margin-right: 30px;
            font-size: 18px;
            color: rgb(0, 0, 0);
            text-decoration: none;
            text-align: justify;
        }
    
#tbody
{
    margin-top: 3%;
    text-align: center;
    
}
    .tbpic
    {
        margin-top: 3%;
    }
    .tbp img
    {
        height: 150px;
        width: 180px;
    }
    .tbp1 img
    {
        height: 150px;
        width: 130px;
    }
    .tbp
    {
        float: left;
        margin-left: 15%;
    }
    .tbp1
    {
        float: left;
        margin-left: 15%;
    }
    
    .tbp p
    {
        text-decoration: none;
        color: black;
    }
    .tbp1 p
    {
        text-decoration: none;
        color: black;
        //margin-left: 1%;
    }
    /*third body ends here*/



    .fourb
    {
        margin-top: 20%;
        position: relative;
    }
    .fourb img
    {
        width: 100%;
    }
    #fpic img
    {
        opacity: 0.5;
        height: 200px;
    }
    .brands {
        position:absolute;
        padding-left: 4%;
        height: 150px;
        /*padding-top: 1%;*/
        top: 18%;
        width: 100%;
    }
    .brands h1
    {
        text-align: center;
    }
    .brands h1 i
    {
        color: black;
        
    }
    .row
    {
        width: 100%;
    }
    .col-5 {
        width: 25%;
        float: left;
        margin-top: 1%;
    }
    
    .col-5 img {
        width: 150px;
        height: 80px;
        cursor: pointer;
        filter: grayscale(100%);
    }
    .col-5 img:hover {
        filter: grayscale(0);
    }






















body {
font-family: Arial, Helvetica, sans-serif;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  border: none;
  background-color: white;
  font-size: 25px;
 /*
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;*/
}

button:hover {
  /*opacity: 0.8;*/
  color: green;
  color: white;
}

/* Extra styles for the cancel button */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.submit
{
    /*border: 1px solid;*/
    color: blue;
    padding: 4px;
    background-color: white;
    font-size: 20px;
}
.submit:hover
{
    color: green;
}

/* Center the image and position the close button */
.imgcontainer {
  text-align: center;
  /*margin: 24px 0 12px 0;*/
  position: relative;
}

img.avatar {
  margin-top: 5%;
  width: 20%;
  /*border-radius: 50%;*/
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

/*login page forgot password*/
.forgot a{
    text-decoration: none;
    color: black;
}
.forgot a:hover{
    text-decoration: none;
    color: green;
}





///////////////////////////////////////////      Footer       ///////////////////////////////////////////////////



@-webkit-keyframes animatezoom {
  from {
-webkit-transform: scale(0)
} 
  to {
-webkit-transform: scale(1)
}
}
  
@keyframes animatezoom {
  from {
transform: scale(0)
} 
  to {
transform: scale(1)
}
}




/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}



